.marquee-section {
  width: 120%;
  height: 75px;
  display: flex;
  align-items: center;
  margin-left: -30px;
  overflow: hidden;
  margin-bottom: 10px;
  background: linear-gradient(90deg, #ebe5e5, #ffffff); /* Medium gray to white */
 /* Bright red for breaking news theme */
  color: #171717; /* White text color */
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

  @media (max-width: 768px) {
    height: 50px; /* Adjust height for mobile */
  }

  @media (max-width: 480px) {
    height: 40px; /* Further reduce height on small screens */
  }
}

.breaking-news-label {
  background: #ff4c4c; /* Red label for "Breaking News" */
  color: #0f0f0f; /* White text */
  font-size: 18px;
  font-weight: bold;
  padding: 7px 15px;
  text-transform: uppercase;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  @media (max-width: 768px) {
    font-size: 14px; /* Adjust font size for mobile */
    padding: 0 10px;
  }

  @media (max-width: 480px) {
    font-size: 12px; /* Further reduce font size for smaller screens */
    padding: 0 8px;
  }
}

.text-gallery {
  display: flex;
  gap: 20px;
  
  white-space: nowrap; /* Keep text in a single line */
  

  @media (max-width: 768px) {
    gap: 15px;
    animation-duration: 8s; /* Faster scrolling for smaller screens */
  }

  @media (max-width: 480px) {
    gap: 10px;
    animation-duration: 6s; /* Even faster scrolling */
  }
}

.text-gallery-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  

  @media (max-width: 768px) {
    padding: 0 15px;
  }

  @media (max-width: 480px) {
    padding: 0 10px;
  }
}

.blinking-lights {
  width: 12px;
  height: 12px;
  background-color: #00ff00; /* Bright green for the light */
  border-radius: 50%;
  animation: blink 1s infinite;

  @media (max-width: 768px) {
    width: 10px;
    height: 10px;
  }

  @media (max-width: 480px) {
    width: 8px;
    height: 8px;
  }
}

.gallery-text {
  font-size: 20px;
  
  font-weight: bold;
  color: #fff; /* White text for visibility */
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


